@media screen and (max-width: 768px) {
    .section {
        padding: 1rem 1rem 4rem 1rem;
    }

    .section__image {
        display: block;
    }

    .icon-list__item:first-child,
    .icon-list__item:nth-child(2),
    .icon-list__item:nth-child(3) {
        border: none;
    }

    .icon-list__item {
        width: 100%;
        border-bottom: 1px solid lightgray !important;
    }

    .form__input {
        width: 100%;
    }

    .footer__text-item {
        display: list-item;
        border: none;
    }
}
